@model ConfigurationModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.NopStation.Usermaven.Configuration").Text;
    NopHtml.SetActiveMenuItemSystemName("Usermaven.Configuration");
}

<form asp-controller="Usermaven" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Usermaven.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
                <div asp-validation-summary="All"></div>
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            @T("Admin.NopStation.Usermaven.Configuration.Instructions")
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="EnablePlugin_OverrideForStore" asp-input="EnablePlugin" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="EnablePlugin" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EnablePlugin" />
                                    <span asp-validation-for="EnablePlugin"></span>
                                </div>
                            </div>
                            <div class="form-group row" id="pnlScript">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="Script_OverrideForStore" asp-input="Script" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Script" />
                                </div>
                                <div class="col-md-9">
                                    <nop-textarea asp-for="Script" />
                                    <span asp-validation-for="Script"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>