@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");

    var isPasswordResetViaSms = await userProfileAdditionalInfoService.IsPasswordResetViaSmsEnabledAsync();
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" class="email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
                @if (isPasswordResetViaSms == true)
                {
                    <button type="button" id="send-sms-button" class="button-1 password-recovery-button">
                        @T("Account.PasswordRecovery.SendViaSmsButton")
                    </button>

                    <script asp-location="Footer">
                        $(document).ready(function () {
                            $("#send-sms-button").click(function () {
                               var email = $("#@Html.IdFor(model => model.Email)").val();
                               var validationMessage = $("span[data-valmsg-for='Email']");

                                // Clear previous validation messages
                                validationMessage.text("");

                                if (!email) {
                                    // Set validation message
                                    $("#@Html.IdFor(model => model.Email)").addClass("input-validation-error");
                                    validationMessage.text("Enter your email").attr("class", "field-validation-error");;
                                    return;
                                }
                                displayAjaxLoading(true);

                                $.ajax({
                                    url: '@Url.Action("SendPasswordResetLinkViaSms", "UserProfileInfo")',
                                    type: 'POST',
                                    data: { Email: email },
                                    success: function (response) {
                                        displayAjaxLoading(false);
                                        if (response.success) {
                                            displayBarNotification(response.message, 'success', 3500);
                                        } else {
                                            displayBarNotification(response.message, 'error', 3500);
                                        }
                                    },
                                    error: function () {
                                        displayAjaxLoading(false);
                                        displayBarNotification("An error occurred. Please try again.", 'error', 3500);
                                    }
                                });
                            });

                        });
                    </script>
                }

            </div>
        </form>
    </div>
</div>